<div class="page-header">
<h1>Welcome to our Site</h1>
  </div>
This is a site that was created to allow users to upload photographs of nature from around the world.
With the possibility of having different species from around the world identified.  Ever been on holiday and wondered what bird
was making that sound and when you saw it, you photographed it not knowing what species name it had.
The creator takes lots of photographs of nature and wanted to be able to share the beauty spots from
her native country with others and to give others the opportunity to do the same.

We hope that you will enjoy uploading nature photographs from your different adventures be them
in your home area or abroad. We look forward to viewing them and learning about different spots and
species around the globe.

<div id="wrapper">
  <div id="header"></div>

  <div class="imageRow">
    <div class="set">
      <table width="940">
        <tr>
          <td>
            <div class="single first">


              <a href="assets/full/protea.jpg" rel="lightbox[plants]" title="Protea"><%= image_tag("thumb/protea1.jpg", :alt => "Plants: image 1 0f 4 thumb") %></a>


            </div>
          </td>
          <td>
            <div class="single">

              <a href="assets/full/cherry.jpg" rel="lightbox[plants]" title="Cherry Blossom"><%= image_tag("thumb/cherry1.jpg", :alt => "Plants: image 2 0f 4 thumb") %></a>


            </div>
          </td>


          <td>
            <div class="single">

              <a href="assets/full/orchid.jpg" rel="lightbox[plants]" title="Orchid"><%= image_tag("thumb/orchid1.jpg", :alt => "Plants: image 3 0f 4 thumb") %></a>


            </div>
          </td>


          <td>
            <div class="single">

              <a href="assets/full/snowdrop.jpg" rel="lightbox[plants]" title="Snowdrop"><%= image_tag("thumb/snowdrop1.jpg", :alt => "Plants: image 3 0f 4 thumb") %></a>


            </div>
          </td>
          <td>
            <div class="single">
              <a href="assets/full/snapdragon.jpg" rel="lightbox[plants]" title="Snapdragon"><%=image_tag("thumb/snapdragon1.jpg",:alt=> "Plants: image 3 0f 4 thumb" )%></a>
            </div>
          </td>
          <td>
            <div class="single">
              <a href="assets/full/wallflower.jpg" rel="lightbox[plants]" title="Wallflower"><%=image_tag("thumb/wallflower1.jpg",:alt=> "Plants: image 3 0f 4 thumb") %></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="single">
              <a href="assets/full/orchid yellow.jpg" rel="lightbox[plants]" title="Orchid"><%=image_tag("thumb/orchid yellow1.jpg", :alt=> "Plants: image 3 0f 4 thumb")%></a>
            </div>
          </td>
          <td>
            <div class="single">
              <a href="assets/full/batchelor button.jpg" rel="lightbox[plants]" title="Batchelors Button"><%=image_tag("thumb/batchelor button1.jpg", :alt=> "Plants: image 3 0f 4 thumb")%></a>
            </div>
          </td>
          <td>
            <div class="single">
              <a href="assets/full/gorse.jpg" rel="lightbox[plants]" title="Birds Foot Trefoil"><%=image_tag("thumb/gorse1.jpg", :alt=> "Plants: image 3 0f 4 thumb")%></a>
            </div>
          </td>
          <td>
            <div class="single">
              <a href="assets/full/magnolia.jpg" rel="lightbox[plants]" title="Magnolia"><%=image_tag("thumb/magnolia1.jpg", :alt=> "Plants: image 3 0f 4 thumb")%></a>
            </div>
          </td>
          <td>
            <div class="single">
              <a href="assets/full/buttercup.jpg" rel="lightbox[plants]" title="Buttercup"><%=image_tag("thumb/buttercup1.jpg", :alt=> "Plants: image 3 0f 4 thumb")%></a>
            </div>
          </td>
          <td>
            <div class="single last">
              <a href="assets/full/tulipo.jpg" rel="lightbox[plants]" title="Tulip"><%=image_tag("thumb/tulipo1.jpg", :alt=> "Plants: image 4 0f 4 thumb")%></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="single first">
              <a href="assets/full/dandelion.jpg" rel="lightbox[plants]" title="Dandelion"><%=image_tag("thumb/dandelion1.jpg", :alt=> "Plants: image 1 0f 4 thumb")%></a>
            </div>
          </td>
          <td>
            <div class="single">
              <a href="assets/full/slipperorchid.jpg" rel="lightbox[plants]" title="Slipper Orchid"><%=image_tag("thumb/slipperorchid1.jpg", :alt=>"Plants: image 2 0f 4 thumb")%></a>
            </div>
          </td>
          <td>
            <div class="single">
              <a href="assets/full/worchid.jpg" rel="lightbox[plants]" title="Wild Common Orchid"><%=image_tag("thumb/worchid1.jpg", :alt=> "Plants: image 3 0f 4 thumb")%></a>
            </div>
          </td>
          <td>
            <div class="single">
              <a href="assets/full/lordsandladies.jpg" rel="lightbox[plants]" title="Lords and Ladies"><%=image_tag("thumb/lordsandladies1.jpg", :alt=> "Plants: image 3 0f 4 thumb")%></a>
            </div>
          </td>
          <td>
            <div class="single">
              <a href="assets/full/archichoke.jpg" rel="lightbox[plants]" title="Archichoke"><%=image_tag("thumb/archichoke1.jpg", :alt=> "Plants: image 3 0f 4 thumb")%></a>
            </div>
          </td>
          <td>
            <div class="single">
              <a href="assets/full/poppy.jpg" rel="lightbox[plants]" title="Poppy"><%=image_tag("thumb/poppy1.jpg", :alt=>"Plants: image 3 0f 4 thumb")%></a>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- InstanceEndEditable --></div>

</div>

<script type="text/javascript" src="js/script.js"></script>
