<div class="page-header">
  <h1>Photographs</h1>
</div>
<div class="uploadbutton">

  <%= link_to 'Upload New Photo', new_photo_path, :class => "btn btn-lightblue btn-large" %>

</div>
     <br/>
<table>

  <% @photos.each do |photo| %>

      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

        <td>

          <% @jakki = image_tag photo.avatar.url(:thumb), class: "image_list img-rounded" %>

          <%= link_to @jakki, photo %>


        </td>

        <td class="list_description">
          <dl>
            <dt><%= link_to photo.title, photo, class: "links_list img-rounded" %></dt>
            <dd><%= truncate(strip_tags(photo.classification), length: 60) %></dd>
          </dl>
        </td>

        <td class="list_description">
          <dl>
            <dt><%= photo.title %></dt>
            <dd><%= truncate(strip_tags(photo.description), length: 40) %></dd>
          </dl>
        </td>

        <td class="list_description">
          <dl>
            <dt><%= photo.username %></dt>
            <dd>(photographer)</dd>
          </dl>
        </td>

        <td class="list_actions">
          <%= link_to 'Show', photo, :class => "btn btn-jakki" %> <br/>

        </td>

        <td class="list_actions">

          <% if current_user and current_user.admin %>
              <%= link_to 'Edit', edit_photo_path(photo), :class => "btn btn-turquoise" %>
              <br/>

          <% end %>

        </td>

        <td class="list_actions">

          <% if current_user and current_user.admin %>

              <%= link_to 'Destroy', photo, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-redpink" %>

          <% end %>
        </td>

      </tr>

  <% end %>

</table>
<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @photos %>
  </div>
  <%= will_paginate @photos, :container => true %>
</div>

<div id="searchbutton" class="controls">

  <%= form_tag photos_path, :method => 'get' do %>

      <p>
        <%= text_field_tag :search_query, params[:search_query] %>  &nbsp;
        <%= submit_tag "Search", :name => nil, class: "btn btn-turquoise btn-large" %>

        <br/>
        <br/>
      </p>

  <% end %>

</div>
